{% extends 'base.html.twig' %}

{% block title %}{{task.name}} - TaskLinker{% endblock %}

{% block titlePage %}
    <h1>{{task.name}}</h1>
{% endblock %}

{% block body %}

    <div id="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
            {% if task.id %}
                <button type="submit" class="button button-submit">Modifier</button>
                <a href="{{ path('app_task_delete', {id: task.id}) }}" class="delete-task">Supprimer la tâche</a>
            {% else %}
                <button type="submit" class="button button-submit">Ajouter</button>
            {% endif %}
        {{ form_end(form) }}
    </div>

{% endblock %}