{% extends 'base.html.twig' %}

{% block body %}

<body>
    <div id="main-container">
        <nav>
           <a href="{{url('app_project')}}" id="logo">
            <img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker" />
           </a>
           <ul id="main-menu">
              <li class="{{app.current_route == 'app_project' ? 'active' : ''}}">
                 <a href="{{url('app_project')}}">
                 <i class="fa-solid fa-list-check"></i> Projets
                 </a>
              </li>
              <li class="{{app.current_route == 'app_employee' ? 'active' : ''}}">
                 <a href="{{url('app_employee')}}">
                 <i class="fa-regular fa-user"></i> Équipe
                 </a>
              </li>
           </ul>
        </nav>
        <main>
           <header>
              <div id="current-user">
                  <a href="{{ path('app_logout') }}">{{ app.user.firstName|slice(0, 1) }}{{ app.user.lastName|slice(0, 1) }}</a>
               </div>
              <div id="title-page">
                {% block titlePage %}{% endblock %}
              </div>
           </header>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>

{% endblock %}