{% extends 'base.html.twig' %}

{% block title %}{{project.name}} - TaskLinker{% endblock %}

{% block titlePage %}
    <h1>{{project.name}}</h1>
{% endblock %}

{% block body %}
<script>
    $(document).ready(function() {
    $('select[multiple]').select2();
});
</script>
    <div id="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit" class="button button-submit">Modifier</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
