{% extends 'homepage.html.twig' %}

{% block title %}{{project.name}} - TaskLinker{% endblock %}

{% block titlePage %}
    <div class="flex-header">
        <h1>{{project.name}}</h1>
        <div class="user-list">
            {% for employee in project.employee %}
                <div class="avatar">{{ employee.firstName|slice(0, 1) }}{{ employee.lastName|slice(0, 1) }}</div>
            {% endfor %}
        </div>
        <a class="button" href="{{ path('app_project_edit', {id: project.id}) }}">Modifier</a>
    </div>
{% endblock %}

{% block content %}

<div id="content">
    <div id="tasks-container">
        <div class="task-column">        
          <h2>To Do</h2>
            <div class="tasks-list">
                {% for task in project.tasks %}
                    {% if task.status.value == 'toDo' %}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a class="task" href="{{ path('app_task_edit', {id: task.id}) }}">
                        {% else %}
                            <div class="task">
                        {% endif %}
                                <h3>{{task.name}}</h3>
                                <p>{{task.description}}</p>
                                <div class="task-infos">
                                    <div class="task-deadline">
                                        <i class="fa-regular fa-calendar"></i> {{task.deadline|date('d M Y')}}
                                    </div>
                                {% if task.employee %}
                                    <div class="mini-user">
                                        {{task.employee.firstName|slice(0, 1)}}
                                        {{task.employee.lastName|slice(0, 1)}}
                                    </div>
                                {% endif %}
                                </div>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            </a>
                        {% else %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if 'ROLE_ADMIN' in app.user.roles %}        
                <a href="{{ path('app_task_new', {id: project.id, status: 'toDo'}) }}" class="task-add">
                    + Ajouter une tâche
                </a>
                {% endif %}
            </div>
        </div>
        <div class="task-column">        
            <h2>Doing</h2>
            <div class="tasks-list">
                {% for task in project.tasks %}
                    {% if task.status.value == 'doing' %}
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a class="task" href="{{ path('app_task_edit', {id: task.id}) }}">
                        {% else %}
                            <div class="task">
                        {% endif %}
                                <h3>{{task.name}}</h3>
                                <p>{{task.description}}</p>
                                <div class="task-infos">
                                    <div class="task-deadline">
                                        <i class="fa-regular fa-calendar"></i> {{task.deadline|date('d M Y')}}
                                    </div>
                                    {% if task.employee %}
                                        <div class="mini-user">
                                            {{task.employee.firstName|slice(0, 1)}}
                                            {{task.employee.lastName|slice(0, 1)}}
                                        </div>
                                    {% endif %}
                                </div>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            </a>
                        {% else %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if 'ROLE_ADMIN' in app.user.roles %}        
                <a href="{{ path('app_task_new', {id: project.id, status: 'doing'}) }}" class="task-add">
                    + Ajouter une tâche
                </a>
                {% endif %}
            </div>
        </div>
        <div class="task-column">        
            <h2>Done</h2>
              <div class="tasks-list">
                  {% for task in project.tasks %}
                        {% if task.status.value == 'done' %}
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                <a class="task" href="{{ path('app_task_edit', {id: task.id}) }}">
                            {% else %}
                                <div class="task">
                            {% endif %}
                                  <h3>{{task.name}}</h3>
                                  <p>{{task.description}}</p>
                                  <div class="task-infos">
                                        <div class="task-deadline">
                                            <i class="fa-regular fa-calendar"></i> {{task.deadline|date('d M Y')}}
                                        </div>
                                        {% if task.employee %}
                                            <div class="mini-user">
                                                {{task.employee.firstName|slice(0, 1)}}
                                                {{task.employee.lastName|slice(0, 1)}}
                                            </div>
                                        {% endif %}
                                  </div>
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                </a>
                            {% else %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}        
                    <a href="{{ path('app_task_new', {id: project.id, status: 'done'}) }}" class="task-add">
                        + Ajouter une tâche
                    </a>
                    {% endif %}
                </div>
          </div>
    </div>
 </div>

{% endblock %}